<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTG:E</title>
    
</head>
<body>
    
    <div class="container-fluid">
        <div class="jumbotron centre">
            <h1 class="display-4"><%= cardName %></h1>
            <p><%= manaCost %></p>
            <hr class="my-4">
            <p><%= cardText %></p>
          </div>
    </div>

    <!--Move to local version at some point-->
    <%- include('../partials/bootstrap-crap.ejs') %>
</body>
</html>